/thesis_env/
/testenv/

/Assessment/__pycache__/

/T_DM/__pycache__/
# /T_DM/Data/bloom_tokenized_test_texts.pt
# /T_DM/Data/bloom_tokenized_train_texts.pt

/GRU_DM/__pycache__/
/GRU_DM/dict.dict

/Debiasing/__pycache__/
/Debiasing/Data/tokenized_X_gender_G.pt
/Debiasing/Data/tokenized_XY_gender_G.pt
/Debiasing/Data/tokenized_XY_neutral_G.pt
/Debiasing/Data/tokenized_Y_gender_G.pt

/Models/
/Images/

/losses_test.py
/DB_test_output.ipynb
